.mainBackground {
  background: linear-gradient(118.54deg, #D3CEDF 25.14%, #748DA6 91.66%);
  border: 0
}

.description {
  color: #f1f1f1;
  background: linear-gradient(95.8deg, rgba(116, 141, 166, 0.3) 45.93%, rgba(156, 180, 204, 0.3) 95.87%);
}

.dollarAmount {
  color: #748DA6;
}

.addtocartButton {
  color: #748DA6;
}

.buynowButton {
  background-color: #F2D7D9;
}

.aiImage {
  height: 0px;
}
